@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');

:root{
    --Poppins: 'Poppins', sans-serif;
    --OpenSans: 'Open Sans', sans-serif;
}

body{
    background-color: black;
    animation: fadein 1.5s;
    background-image: url("/Images/Black\ Background.jpg");
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.card-body{
    text-align: center;
}

.down{
    margin-top: 5em;
    margin-bottom: 12em;

}

.FAQ{
    color: white;
    margin-bottom: 1em;
}

.illustration1{
    max-width: 30em;
}

.top2{
    margin-top: 10px;
    display: flex;

    h1{
        color: white;
        font-family: var(--Poppins);
        font-size: 40px;
        margin-top:70px;
        margin-left:50px;
    }

    p{
        margin-left: 50px;
        color: rgb(184, 182, 182);
    }

.cardmod{
    color: black;
    margin-left: 50px;
    padding: 10px;
}

li{
    margin-right: 5em;
}
}


@media (max-width: 576px) {

.top2{
    display: inline;
    text-align: center;

 
    h1{
        color: white;
        font-family: var(--Poppins);
        font-size: 40px;
        margin-top: 0px;
        text-align: center;
        margin-left: 0;
    }

    .desc{
        margin-left: 0;
        margin-bottom: 1.5em;
        text-align: center;
    }
    p{
        margin-top: 5px;
        margin-left: 50px;
        color: rgb(184, 182, 182);
        text-align: center;
    }
    .cardMd3{
        text-align: center;
    }
    .cardmod{
        margin:auto;
    }
    .buttonMod{
        margin-left: -50px;
        
    }

    li{
        margin-right: 0;
    }
    

}
}